<h1>Editing item owner</h1>

<%= render "form", item_owner: @item_owner %>

<br>

<div>
  <%= link_to "Show this item owner", @item_owner %> |
  <%= link_to "Back to item owners", item_owners_path %>
</div>
