<div id="<%= dom_id item %>" class="card">
  <p>
    <h4><%= item.name %></h4>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <textarea rows=5 cols=30 ><%= item.description %></textarea>
  </p>

</div>
