<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

</div>
